<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Calculator</title>
    <link rel="stylesheet" href="../styles.css">
</head>


<body>
    <header class="navbar">
        <div class="navbar-left">
            <h1>Currency Calculator</h1>
        </div>
        <nav>
            <a class="navbar-links" href="/pages/send_money.html">Send Money</a>
            <a class="navbar-links" href="/pages/index.html">Converter</a>
            <a class="navbar-links current" href="/pages/currency_api.html">Currency API</a>
            <a class="navbar-links" href="/pages/tools.html">Tools</a>
        </nav>
        <div class="navbar-right">
            <a href="#" class="sign-in button">Sign In</a>
            <a href="#" class="register button">Register</a>
        </div>
    </header>

    <main>
        <h1>Currency API</h1>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../script.js"></script>
</body>

</html>