<header class="navbar">
    <div class="navbar-left">
        <h1>Currency Calculator</h1>
    </div>
    <nav>
        <div class="tabs">
            <!-- <button class="tab active">Convert</button>
            <button class="tab">Send</button>
            <button class="tab">Charts</button>
            <button class="tab">Alerts</button> -->
        </div>
    </nav>
    <div class="navbar-right">
        <a class="navbar-links button" href="/send_money">Send Money</a>
        <a class="navbar-links button" href="/">Converter</a>
        <a class="navbar-links button" href="/currency_api">Currency API</a>
        <a class="navbar-links button" href="/tools">Tools</a>
        <a href="#" class="sign-in button">Sign In</a>
        <!-- <a href="#" class="register button">Register</a> -->
    </div>
</header>