<header class="navbar">
  <div class="navbar-left">
    <h1>Currency Calculator</h1>
  </div>
  <nav>
    <div class="tabs">
    </div>
  </nav>
  <div class="navbar-right">
    <a class="navbar-links button" href="/">Converter</a>
    <a class="navbar-links button" href="/send_money">Send Money</a>
    <a class="navbar-links button" href="/currency_api">Currency API</a>
    <a class="navbar-links button" href="/tools">Tools</a>
    <a class="sign-in button" href="sign_in">Sign In</a>
  </div>
</header>