<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <header>
        <%- include('partials/header'); %>
    </header>

    <h1>Send Money</h1>
    <p>This page will link with other money exchange apps</p>

    <footer>
        <%- include('partials/footer'); %>
    </footer>
    <!-- <script src="../public/script.js"></script> -->
</body>

</html>